<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancoding.basic.project.mapper.GfPostTagMapper">

    <select id="getPostTagOfPostId"
            resultType="com.fancoding.basic.project.entity.GfPostTag">

        select `gf_post_tag`. *
        from `gf_post__gf_post_tag`
                 left join `gf_post` on `gf_post`.id = `gf_post__gf_post_tag`.pid
                 left join `gf_post_tag` on `gf_post_tag`.id = `gf_post__gf_post_tag`.tag_id
        where `gf_post`.id = #{id}
    </select>
</mapper>
